<ion-header>
  
    <ion-title><img src="assets/Imagenes/Encabezado.png"></ion-title>
  
</ion-header>

<ion-content>

	<div class="fondo1 fondoImagen">

	</div>

	<ion-tabs>
	  <ion-tab-bar slot="bottom">
	    <ion-tab-button tab="principal">
	      <ion-icon name="calculator"></ion-icon>
	      <ion-label>Calculadora</ion-label>
	    </ion-tab-button>

	    <ion-tab-button tab="informacion">
	      <ion-icon name="finger-print"></ion-icon>
	      <ion-label>HdC</ion-label>
	    </ion-tab-button>
	  </ion-tab-bar>
	</ion-tabs>
</ion-content>
