<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button
        style="padding-left: .4em"
        text=""
        defaultHref="/inicio/principal"
      ></ion-back-button>
    </ion-buttons>
  
    <ion-title>Datos de Seleccionados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="fondo1 fondoImagen">
<div cdkDropListGroup align="center">

    <ion-grid>
      <ion-row>
        <ion-col>

            <h2>Presiona dos veces cada elemento para agregar información</h2>
            <div class="example-container vertical-scroll-contenedor">
              <div
                
                class="example-list"
                (cdkDropListDropped)="drop($event)">
              
                <div class="example-box" *ngFor="let item of myPyme.servicios" (dblclick)="llena()">
                    <img src="assets/Imagenes/{{item.NombreIma}}" class="rounded float-left">
                    <h5>{{item.tipo}}</h5>
                </div>
              
              </div>
            </div>

        </ion-col>

      </ion-row>

    </ion-grid>

</div>
</div>

</ion-content>
