<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button
        style="padding-left: .4em"
        text=""
        defaultHref="/inicio/principal"
      ></ion-back-button>
    </ion-buttons>
  
    <ion-title>Información de Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="fondo1 fondoImagen">
<div cdkDropListGroup align="center">

    <ion-grid >
      <ion-row>
        <ion-col>

            <h2>Presiona un elemento para agregar información</h2>
            <div class="example-container vertical-scroll-contenedor">
              <div
                
                class="example-list"
                (cdkDropListDropped)="drop($event)">
              
                <div style="border: 1px solid #2dd36f;" *ngFor="let item of myPyme.servicios" (click)="llena(item.tipo)" align="center">
                    <img src="assets/Imagenes/Servicios/{{item.NombreIma}}">  
                </div>
              
              </div>
            </div>

        </ion-col>

      </ion-row>

    </ion-grid>

    <div class="contenedorBotonIniciar">
      <ion-button color="success" (click)="terminar()">
          <ion-label>Calcular HdC</ion-label>
          <ion-icon
            name="finger-print"
            slot="end"
            size="large"
          ></ion-icon>
      </ion-button>
    </div>
</div>
</div>

</ion-content>
