<ion-header>
  <ion-toolbar color="success">
  	<ion-buttons slot="start">
      <ion-back-button
        style="padding-left: .4em"
        text=""
        defaultHref="/inicio/mishuellas"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Co2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>	
  <div class="fondo1 fondoImagen">

    
      <h2>Actual..</h2>
      <div *ngIf="solucionActual">
        <div *ngFor="let SolA of solucionActual.servicios; index as i">

          <ion-row>
            <ion-col>
              <img src="assets/Imagenes/Servicios/{{SolA.nombreImagen}}" />
            </ion-col>

            <ion-col>
              <h3>$ {{SolA.costo}}</h3><br>
              <h3>consumo: {{SolA.consumo}}</h3>
            </ion-col>
          </ion-row>

        </div>

        <h2>Huella: {{solucionActual.huella}}      Costo Total: {{solucionActual.costo}}</h2>
      </div>

      <br><br><br><br>

      <h2>Soluciones</h2>
      <div *ngFor="let pymeSol of pymesSoluciones; index as i">

        {{ i+1 }}: <button class="btn btn-dark" (click)="sol(pymeSol.servicios)">-></button>
        <h2>Huella: {{pymeSol.huella}}      Costo Total: {{pymeSol.costo}}</h2>

  		</div>

	</div>

</ion-content>
