<ion-header>
  <ion-toolbar color="success">
  	<ion-buttons slot="start">
      <ion-back-button
        style="padding-left: .4em"
        text=""
        defaultHref="/inicio/mishuellas"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Co2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>	
  <div class="fondo1 fondoImagen">

    <div *ngFor="let item of soluciones; index as i">
			<!--<h1>{{myPyme.nombre}}</h1><br><br>-->
			<h2>Alternativa {{ i+1 }}: {{item.huella}} Ton CO2/mes</h2>  
		</div>
	</div>

</ion-content>
