<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button
        style="padding-left: .4em"
        text=""
        defaultHref="/inicio"
      ></ion-back-button>
    </ion-buttons>
  
    <ion-title>Selección de Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div cdkDropListGroup class="fondo1 fondoImagen" align="center">
    <h2>Arrasta los elementos</h2>
    <ion-grid>
      <ion-row>

        <ion-col>

          <h3>Servicios</h3>
            <div class="example-container vertical-scroll-contenedor">
              
              <div
                cdkDropList
                [cdkDropListData]="tipo1"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of tipo1" cdkDrag>
                  
                  <img src="assets/Imagenes/Servicios/{{item.nombreImagen}}" alt="sinoaparecelaimg" title="descripcion" />
                    

                </div>
              </div>
            </div>

        </ion-col>


        <ion-col>

             <h3>Tus Servicios</h3>
            <div class="example-container vertical-scroll-contenedor">
              <div
                cdkDropList
                [cdkDropListData]="this.myPyme.servicios"
                class="example-list"
                (cdkDropListDropped)="drop($event)">

                <div class="example-box" *ngFor="let item of this.myPyme.servicios" cdkDrag>
                    <img src="assets/Imagenes/Servicios/{{item.nombreImagen}}" class="rounded float-left">


                </div>
              </div>
            </div>
        </ion-col>
      </ion-row>
      <div class="contenedorBotonIniciar">
      <ion-button color="success" (click)="siguiente()">
          <ion-label>Continuar</ion-label>
          <ion-icon
            name="finger-print"
            slot="end"
            size="large"
          ></ion-icon>
      </ion-button>
    </div>
    </ion-grid>

    
</div>


</ion-content>


