<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        style="padding-left: .4em"
        text=""
        defaultHref="/inicio"
      ></ion-back-button>
    </ion-buttons>
  
    <ion-title>Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div cdkDropListGroup>

    <ion-grid>
      <ion-row>

        <ion-col>

          <h2>servicios</h2>
            <div class="example-container vertical-scroll-contenedor">
              
              <div
                cdkDropList
                [cdkDropListData]="tipo1"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of tipo1" cdkDrag>
                  <img src="assets/Imagenes/{{item.NombreIma}}" class="rounded float-left">
                    <h5>{{item.tipo}}</h5>
                </div>
              </div>
            </div>

        </ion-col>


        <ion-col>

             <h2>Tus Servicios Agregados</h2>
            <div class="example-container vertical-scroll-contenedor">
              <div
                cdkDropList
                [cdkDropListData]="myPyme.servicios"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of myPyme.servicios" cdkDrag>
                    <img src="assets/Imagenes/{{item.NombreIma}}" class="rounded float-left">
                    <h5>{{item.tipo}}</h5>
                </div>
              </div>
            </div>

        </ion-col>

      </ion-row>

    </ion-grid>

</div>

<button class="btn btn-secondary"  (click)="siguiente()"></button>

</ion-content>


